* {
	color: #03B388;
}

h1 {
	font-family: Arial, san-serif;
	text-shadow: 1px 1px 5px black;
	
}

h2 {
	font-size: 4em;
	text-shadow: 1px 1px 5px black;
}

.container {
	position: relative;
	top: 100px;
	text-align: center;
	-ms-transform: translate(50px,100px); /* IE 9 */
   	-webkit-transform: translate(50px,100px); /* Safari */
    transform: translate(50px,100px);
	-ms-transform: translate(50px,100px); /* IE 9 */
   	-webkit-transform: translate(50px,100px); /* Safari */
    transform: translate(50px,100px);
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg);
}

.btn {
	 background-color: #03B388;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    //border:none;
}

.btn:hover {
	border: none;
	background: #ffffff;
	color: #03B388;
	box-shadow: 0px 0px 1px #777;
}






