* {
	font-family: arial, helvetica, san-serif;
}

.container {
	margin: 0px 20px;
}

aside {
	float: right;
	width: 20%;
	height: 500px;
	background-color: tan;
}

.result {
	position: relative;
	float: left;
	width: 80%;
	background-color: lightgrey;
	height: 500px;
	font-size: 5em;
}

h5 {
	margin: 0px;
}

.inputStuff{
	text-align: right;
	background-color: lightgrey;
	height: 100px;
	margin: 0px;
	padding-right: 50px;
}

#middleNumber {
	text-decoration: underline;
}

.Calc {
	clear: both;
	width: 100%;
}