* {
  margin: 0;
  padding: 0;
}
footer, section, header {
  display: block;
}
body {
  padding: 2em;
  font-size: 15px;
  font-family: Verdana, Arial, sans-serif;
}
h1 {
  color: cornflowerblue;
  text-align: center;
  font-size: 2.5em;
}
form {
  width: 280px;
  background: cornflowerblue;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
#title {
  position: fixed;
  display: inline-block;
  background-color: #fff;
  width: 130px;
  height: 180px;
  margin-top: 0;
  color: #000;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);  
}
#newItem {
  width: 160px;
}
#todoList {
  width: 280px;
  margin: 10px 10px;
}
#todoList li {
  border-radius: 2px;
  list-style: none;
  background: #eee;
  padding: 5px 10px;
  margin-bottom: 5px;
  position: relative;
}
#todoList li:nth-child(2n) {
  background: #ccc;
}
#todoList li:hover:after,
#todoList li.done:after {
  content: '✔';
  color: #060;
  position: absolute;
  right: 5px;    
}
#todoList li.done:hover:after {
  content: 'x';
  font-weight: bold;
  color: #c00;
  position: absolute;
  right: 5px;    
}


/*============ calendar ============*/

#calendar {
  display: inline-block;
  width: 130px;
  height: 180px;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}

#calendar>p {
  padding: 8px 0;
  margin: 0;
  color: #fff;
  text-align: center;
}

#calendar-day {
  font-size: 16px;
}

#calendar-date {
  font-size: 64px;
  padding-top: 10px;
  padding-bottom: 0px;
}

#calendar-month-year {
  font-size: 14px;
}










